body {
    background-color: rgb(135, 248, 152);
    font-family: Helvetica Now Text;
    color: rgb(8, 8, 8);
}

h1 {
    text-align: center; 
    color: rgb(2, 2, 2);
}

h3 {
    text-align: center;
    color: rgb(2, 2, 2);
}

p {
    font-size: 18px;
    text-align: center;
    color: rgb(4, 4, 4);
}

.meineKlasse {
    font-size: 14px;
    color:coral;
}

img {
    width: 300px;
}

.video {
    width: 400px;
    height: 220px
}

iframe {
    display: block;
    margin: 0 auto;
}

